/.build/
/binary/
/build.log
/cache.sugar/
/cache/
/chroot.files
/chroot.packages.install
/chroot.packages.live
/chroot/
/config/
/live-image-i386.contents
/live-image-i386.files
/live-image-i386.hybrid.iso
/live-image-i386.hybrid.iso.zsync
/live-image-i386.packages
/packages.chroot/
/src/config/packages.chroot/
